---
- name: Change hostname
  ansible.builtin.hostname:
    name: "{{ in_hostname_fqdn }}"
  notify:
    - Reboot system

- name: Change /etc/hosts with FQDN
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: '^127\.0\.1\.1'
    line: "127.0.1.1       {{ in_hostname_fqdn | split('.') | first }}       {{ in_hostname_fqdn }}"
    state: present
  when: in_hostname_fqdn | split('.') | length > 1
  notify:
    - Reboot system

- name: Change /etc/hosts with hostname only
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: '^127\.0\.1\.1'
    line: "127.0.1.1       {{ in_hostname_fqdn | split('.') | first }}"
    state: present
  when: in_hostname_fqdn | split('.') | length <= 1
  notify:
    - Reboot system
